.header{
    grid-area: h;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: rgb(69, 147, 97);
    }
    
    .header img {
      width: 40px;
    }
    
    