.app-wrapper {
    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 10vh 100%;
    grid-template-columns: 2fr 10fr;
    background-color: rgb(211, 211, 211);
}

.app-wrapper-content {
    margin: 1em;
    grid-area: c;
}





